{% extends "base.html" %}

{% block title %}

{% endblock %}

 {% block content %}
     <div id="contact">
     <p>Feel free to contact me!</p><br>
     <img class="btn1"  src="/static/styles/facebook_dark.png" alt=""
          onmouseover="this.src='/static/styles/facebook_active.png'" onmouseout="this.src='/static/styles/facebook_dark.png'">
     <img id="btn2"  src="/static/styles/in_dark.png" alt=""
          onmouseover="this.src='/static/styles/in_active.png'" onmouseout="this.src='/static/styles/in_dark.png'">
     <img id="btn3"  src="/static/styles/lastfm_dark.png" alt=""
          onmouseover="this.src='/static/styles/lastfm_active.png'" onmouseout="this.src='/static/styles/lastfm_dark.png'">
     <img id="btn4"  src="/static/styles/skype_dark.png" alt=""
          onmouseover="this.src='/static/styles/skype_active.png'" onmouseout="this.src='/static/styles/skype_dark.png'">
     </div>
 {% endblock %}

{% block footer%}
    <p class="footer"></p>
{% endblock %}
