{% extends "base.html" %}

{% block title %}

{% endblock %}

 {% block content %}
     <div id="contact">
     <p>Feel free to contact me!</p><br>
     <img class="btn1"  src="{{ STATIC_URL }}facebook_dark.png" alt=""
          onmouseover="this.src='{{ STATIC_URL }}facebook_active.png'" onmouseout="this.src='{{STATIC_URL}}facebook_dark.png'">
     <img id="btn2"  src="{{ STATIC_URL }}in_dark.png" alt=""
          onmouseover="this.src='{{ STATIC_URL }}in_active.png'" onmouseout="this.src='{{STATIC_URL}}in_dark.png'">
     <img id="btn3"  src="{{ STATIC_URL }}lastfm_dark.png" alt=""
          onmouseover="this.src='{{ STATIC_URL }}lastfm_active.png'" onmouseout="this.src='{{STATIC_URL}}lastfm_dark.png'">
     <img id="btn4"  src="{{ STATIC_URL }}skype_dark.png" alt=""
          onmouseover="this.src='{{ STATIC_URL }}skype_active.png'" onmouseout="this.src='{{STATIC_URL}}skype_dark.png'">
     </div>
 {% endblock %}

{% block footer%}
    <p class="footer"></p>
{% endblock %}