{% extends "base.html" %}
{% block content%}
    <section id="shout" class="clear">
        <figure>
            <figcaption>
                <h1>Welcome.</h1>
                <p>On this site you will find some information about me, there among my cv. You can read about what I have been up to and find some
                    links to sites i consider useful.Thank you for your visit.</p><br>
                
                <p>The site is still under developing....more coming soon!</p>

                <footer class="more"><a href="#">Read More &raquo;</a></footer>
            </figcaption>
            <div><img src="/static/me.jpg" alt=""></div>
        </figure>
    </section>
{% endblock%}

endblock%}

