{% extends "base.html" %}
{% block content%}
    <section id="shout" class="clear">
        <figure>
            <figcaption>
                <h1>Wellcome.</h1>
                <p>Cursuspenatisaccum ut curabitur nulla tellus tor ames a in curabitur pede. Idet mollisi eros dis orci congue elis et curabitur consequam intesque curabiturpisametur in ante.</p>
                <footer class="more"><a href="#">Read More &raquo;</a></footer>
            </figcaption>
            <div><img src="{{ STATIC_URL }}410x440.gif" alt=""></div>
        </figure>
    </section>
{% endblock%}
