body {
	margin: -20px 0 0 0;
	padding: 0;
	background: #FFFFFF url(img01.gif) repeat-x; /*bakgrunnen nedest*/
	font: normal small Arial, Helvetica, sans-serif;
	line-height: 1.8em;
}
 h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	color: #000000;
}

h2 {
	padding-left: 20px;
	background: url(img07.gif) no-repeat left center;
	font-size: 22px;
}


p, blockquote, ul, ol {
	margin-top: 0;
}

blockquote {
	padding: 0 0 0 40px;
	background: url(img11.gif) no-repeat;
	font: italic small Georgia, "Times New Roman", Times, serif;
	line-height: 1.6em;
}

a {
	background: url(img03.gif) repeat-x left bottom;
	text-decoration: none;
    color: #EEEEEE;
    cursor: pointer;
}

a:hover {
    text-decoration-color: #555555;
	background:none;
	text-decoration: underline;
}

/* Wrapper */

#wrapper {
	background: url(img04.gif) repeat-x scroll left bottom #FFFFFF;
}

body {
    font: 16px Helvetica, Sans-Serif;
    line-height: 24px;
    margin: 0;
    padding: 0;
}

.clear {
    clear: both;
}

#cv {
    width: 800px;
    margin: 40px auto 60px;
}

#pic {
    float: right;
    margin: -30px 0 0 5px;
}
/*Cv layout*/

#cv {
    font: 16px Helvetica, Sans-Serif;
    line-height: 24px;
}

#cv.clear {
    clear: both;
}

#cv .page-wrap {
    width: 800px;
    margin: 40px auto 60px;
}



#cv h1 {
    margin: 0 0 16px 0;
    padding: 0 0 16px 0;
    font-size: 42px;
    font-weight: bold;
    letter-spacing: -2px;
    border-bottom: 1px solid #999;
}

#cv h2 {
    font-size: 20px;
    margin: 0 0 6px 0;
    position: relative;
    background: none;
}

#cv h2 span {
    position: absolute;
    bottom: 0;
    right: 0;
    font-style: italic;
    font-family: Georgia, Serif;
    font-size: 16px;
    color: #999;
    font-weight: normal;
}

#cv p {
    display: block;
    margin: 0 0 16px 0;
}

#cv a {
    color: #999;
    text-decoration: none;
    border-bottom: 1px dotted #999;
}

#cv a:hover {
    border-bottom-style: solid;
    color: black;
}

#cv ul {
    margin: 0 0 32px 17px;
}


#objective {
    width: 500px;
    float: left;
}

#objective p {
    font-family: Georgia, Serif;
    font-style: italic;
    color: #666;
}

#cv dt {
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
    text-align: right;
    padding: 0 26px 0 0;
    width: 150px;
    float: left;
    height: 100px;
    border-right: 1px solid #999;
}

#cv dd {
    padding: 0;
    margin: 0;
    width: 600px;
    float: right;
}

#cv dd.clear {
    float: none;
    margin: 0;
    height: 15px;
}

/* Menu */

#menu {
	width: 750px;
	height: 60px;
	margin: 0 auto;
}


/* Header */

#header {
	
	width: 754px;
	height: 247px;
	margin: 0 auto;
	padding: 0 0 0 0;
}

/*#header h1.header {
	float: left;
	width: 104px;
	height: 110px;
	padding: 104px 100px 0 20px;
	background: url(made.jpg) no-repeat;
	line-height: 32px;
	font-size: 30px;

}
*/
#header h2.header {
	/*float: right;*/
	width: 740px;
	height: 34px;
	padding: 180px 20px 0 0;
	background: url(testw.jpg) no-repeat;
	text-transform: lowercase;
	text-align: right;
	letter-spacing: -1px;
	font-size: 22px;
	color: #FFFFFF;
}
/* Navigation meny */
ul#nav {
    position: relative;
    display: inline;
    float:left;
    margin-bottom:0;
    margin-top: -30px;
}
ul#nav li {
	list-style: none; float: left;
	}
ul#nav li a { /*<!--hvordan hver meny knapp skal se ut--->*/
	display: block;
	float: left;
	padding: 5px 20px;
    background-color: #4BA976;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.5s ease-in 0s;
	text-decoration: none;
	font-size: 1.3em;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

ul#nav li a:hover {
    background-color: #AD3A2B;
    color: #EEEEEE;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.5s ease-in 0s;
}


 #nav li a {

    background-color: #4BA976;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.5s ease-in 0s;
}
ul#nav li a .top{
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 1px 1px 0 0;
    font-size: 11px;
    padding: 4px 0;
    position: relative;
    text-transform: uppercase;
}

/* Content */

#content {
	width: 750px;
	margin: 0 auto 20px auto;
}

/* Posts */

#posts {
	float: right;
	width: 510px;
}

#posts .post {
	padding-bottom: 30px;
}

#posts .story {
	padding: 15px 20px 0 20px;
	background: url(img10.gif) repeat-x
}

#posts .meta {
	padding: 5px 0 0 20px;
	background: url(img03.gif) repeat-x;
}

#posts .meta p {
	margin: 0;
	line-height: normal;
	font-size: smaller;
}

#posts ul {
	list-style: url(img12.gif);
}

#posts ul li {
}

/*side menu*/
#links li ul {
    background: url("img10.gif") repeat-x scroll 0 0 transparent;
    padding: 15px 20px 30px;
}
#links ul {
    list-style: none outside none;
    margin: 0;
}
#links{
    float: left;
    width: 220px;
}
#links li a{
    background: none repeat scroll 0 0 transparent;
    color: #555555;
    text-decoration: none;
}

#links li li {
    background: url("img03.gif") repeat-x scroll left bottom transparent;
    padding: 3px 0;
}



/* Footer */

#footer {
	padding: 40px 0 60px 0;
	/*background: url() repeat-x;*/
}

#footer p {
	width: 750px;
	font-family: Georgia, "Times New Roman", Times, serif;

}


#legal {
	margin: 0 auto;
	text-align: right;
	font-size: 12px;
}


