<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <title>Made Ziius</title>
    <meta charset="iso-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}styles/layout.css" type="text/css" media="all">
    <link rel="stylesheet" href="{{ STATIC_URL }}styles/mediaqueries.css" type="text/css" media="all">
    <script src="{{ STATIC_URL }}scripts/jquery-1.7.2.min.js"></script>
    <script src="{{ STATIC_URL }}scripts/jquery-mobilemenu.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.topnav').mobileMenu({
                combine: false,
                switchWidth: 520,
                indentString: '&nbsp;&nbsp;&nbsp;',
                prependTo: 'nav#topnav'
            });
        });
    </script>
    <!--[if lt IE 9]>
<link rel="stylesheet" href="styles/ie.css" type="text/css" media="all">
<script src="scripts/css3-mediaqueries.min.js"></script>
<script src="scripts/html5shiv.min.js"></script>
<![endif]-->
</head>
<body>
<div class="wrapper row1">
    <header id="header">
        <hgroup>
            <h1><a href="/">Made Ziius</a></h1>
            <h2>If you want something bad enough you will make it happen!</h2>
        </hgroup>
        <!-- ################################################################################################ -->
        <nav id="topnav">
            <ul class="topnav clear">
                <li class="active"><a href="\">Home</a></li>
                <li><a href="{% url blog_about %}">About Me</a></li>
                <li><a href="{% url blog_contact %}">Contact</a></li>
                <li><a href="gallery.html">Gallery</a></li>
                <li><a href="{% url blog_about %}">Portfolio</a></li>
                <li class="last"><a href="#">Useful Links</a></li>
            </ul>
        </nav>
    </header>
    <!-- ################################################################################################ -->
    <!-- content -->
    {% block content %}
    {% endblock %}
</div>

</body>
</html>